<?xml version="1.0" encoding="UTF-8" ?>

<!DOCTYPE mapper
		PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
		"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

		
<mapper namespace="ProductMapper">
	
		<resultMap id="productSelectMap" type="Product">
			<result property="prodNo" 		column="PROD_NO" 				jdbcType="NUMERIC"/>
			<result property="prodName"		column="PROD_NAME" 				jdbcType="VARCHAR"/>
			<result property="prodDetail" 	column="PROD_DETAIL" 			jdbcType="VARCHAR"/>			
			<result property="manuDate" 	column="MANUFACTURE_DAY" 		jdbcType="VARCHAR"/>
			<result property="price" 		column="PRICE" 					jdbcType="NUMERIC"/>
			<result property="fileName" 	column="IMAGE_FILE" 			jdbcType="VARCHAR"/>			
			<result property="regDate" 		column="REG_DATE" 				jdbcType="DATE"/>			
			
			<result property="proTranCode" 	column="tran_status_code" 		jdbcType="CHAR"/>
		</resultMap>
		
	<insert id="addProduct" parameterType="product">
			INSERT
			INTO product(image_file, manufacture_day, price, prod_detail, prod_name, prod_no, reg_date)
			VALUES ( #{fileName}, #{manuDate}, #{price:NUMERIC}, #{prodDetail},
								#{prodName}, seq_product_prod_no.nextval, SYSDATE)
		</insert>
		
	<select id="getProduct" parameterType="string" resultMap="productSelectMap">
			SELECT
			prod_no, 
			prod_name, 
			prod_detail, 
			manufacture_day, 
			price, 
			image_file, 
			reg_date
			FROM product
			WHERE prod_no = #{value}
		</select>
		
 			
		<update id="updateProduct" parameterType="product">
			UPDATE Product
			<set>
					PROD_NAME = #{prodName},
					IMAGE_FILE = #{fileName} ,
					MANUFACTURE_DAY = #{manuDate}, 
					PROD_DETAIL = #{prodDetail} ,
					PRICE = #{price:NUMERIC}						
			</set>
			WHERE prod_no = #{prodNo}
		</update>
		
		
		<delete id="removeProduct" parameterType="java.lang.String">
			DELETE
			FROM product
			WHERE prod_No=#{prodNo}
		</delete>

 		<sql id="select-product">
			SELECT
			prod_no, 
			prod_name, 
			prod_detail, 
			manufacture_day, 
			price, 
			image_file, 
			reg_date
			FROM product
		</sql>
		
		<sql id="orderby-prodNo-desc">
			ORDER BY prod_No DESC
		</sql>
		
<!-- 	
	<select  id="getProductList"  parameterType="search"	resultMap="productSelectMap">
	  	SELECT *
	  	FROM (	SELECT inner_table.* , ROWNUM AS row_seq
	  					FROM		(	SELECT prod_no , prod_name , prod_detail, reg_date, price
											FROM product
											<if test="searchCondition != null">
												<where>
													<if test="searchCondition == 0 and searchKeyword !='' ">
										 				prod_name = #{searchKeyword}
													</if>
													<if test="searchCondition == 1 and searchKeyword !='' ">
										 				prod_no = #{searchKeyword}
													</if>
													<if test="searchCondition == 2 and searchKeyword !='' ">
										 				price = #{searchKeyword}
													</if>
												</where>
											</if>
											ORDER BY prod_no ) inner_table
						WHERE ROWNUM &lt;= #{endRowNum} )
		WHERE row_seq BETWEEN #{startRowNum} AND #{endRowNum} 
	 </select> -->
	 
		<!-- SQL : SELECT LIST -->
		<select id="getProductList" parameterType="search" resultMap="productSelectMap">
			SELECT *
					FROM  ( SELECT inner_table.* , ROWNUM AS row_seq
									FROM     ( SELECT p.*, t.tran_status_code
													FROM  product p, transaction t				
													<where>
														  p.prod_no = t.prod_no(+)
														<if test="searchCondition!=null " >
															<if test="searchCondition==0  and searchKeyword !=''  and searchKeyword != null">
																	AND p.prod_name	like '%${searchKeyword}%'
															</if> 
															<if test="searchCondition==1   and searchKeyword !=''  and searchKeyword != null ">
																	AND p.prod_no = #{searchKeyword}
															</if>  					
															<if test="searchCondition==2  and searchKeyword !=''  and searchKeyword != null">
																	AND p.price = #{searchKeyword}
															</if>
														</if>
								  		           </where> 												 
  										ORDER BY p.prod_no ) inner_table
					WHERE ROWNUM &lt;= #{endRowNum} )
		WHERE row_seq BETWEEN #{startRowNum} AND #{endRowNum} 
  	</select>
			
		
			
<!-- 			<where>
				<choose>
					<when test=" searchCondition=='0' ">
						<if test="prodNo.size != 0">
							prod_no, prod_name, prod_detail, manufacture_day, price, image_file, reg_date
							<foreach item="value" collection="prodNo" open="(" separator="," close=")">
								#{value}
							</foreach>
						</if>
					</when>
					<when test=" searchCondition=='1' ">
						<if test="productName[0] != null">
							prod_no, prod_name, prod_detail, manufacture_day, price, image_file, reg_date
							<foreach item="value" collection="prodName" open="(" separator="," close=")">
								#{value}
							</foreach>
						</if>
					</when>
				</choose>
			</where>
			<include refid="orderby-prodNo-desc"/>
		</select> -->
 
 
 	<!-- SQL : SELECT ROW Count -->	 
	 <select  id="getTotalCount"  parameterType="search"	 resultType="int">
	  	SELECT COUNT(*)
	  	FROM (	SELECT 
	  					p.prod_no as prod_no, 
	  					p.prod_name as prod_name, 
	  					p.prod_detail as prod_detail, 
	  					p.manufacture_day as manufacture_day, 
	  					p.price as price, 
	  					p.image_file as image_file, 
	  					p.reg_date as reg_date, 
	  					t.tran_status_code as tran_status_code 
					FROM product p, transaction t 
					<where>
						  p.prod_no = t.prod_no(+)
						<if test="searchCondition!=null " >
							<if test="searchCondition==0  and searchKeyword !=''  and searchKeyword != null">
									AND p.prod_name	=	#{searchKeyword}
							</if> 
							<if test="searchCondition==1   and searchKeyword !=''  and searchKeyword != null ">
									AND p.prod_no like #{searchKeyword}
							</if>  					
							<if test="searchCondition==2  and searchKeyword !=''  and searchKeyword != null">
									AND p.price = #{searchKeyword}
							</if>
						</if>
				   </where> 	) countTable											 
					
	 </select> 
</mapper>