<?xml version="1.0" encoding="UTF-8" ?>

<!DOCTYPE mapper
		PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
		"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

		
<mapper namespace="PurchaseMapper">
	
		<resultMap id="purchaseSelectMap" type="purchase">		
			<result property="dlvyAddr" 			column="DEMAILADDR" 		jdbcType="VARCHAR"/>
			<result property="dlvyDate" 			column="DLVY_DATE" 			jdbcType="DATE"/>
			<result property="dlvyRequest" 			column="DLVY_REQUEST" 		jdbcType="VARCHAR"/>
			<result property="orderDate"			column="ORDER_DATA" 		jdbcType="DATE"/>
			<result property="paymentOption" 		column="PAYMENT_OPTION" 	jdbcType="CHAR"/>
			<result property="receiverName" 		column="RECEIVER_NAME" 		jdbcType="VARCHAR"/>
			<result property="receiverPhone" 		column="RECEIVER_PHONE" 	jdbcType="VARCHAR"/>
			<result property="tranCode" 			column="TRAN_STATUS_CODE" 	jdbcType="CHAR"/>
			<result property="tranNo" 				column="TRAN_NO" 			jdbcType="NUMERIC"/>
	
		<association property="buyer"	 			javaType="user">
					<id property="userId" 			column="buyer_id" 			jdbcType="VARCHAR" />
				
				<result property="userName"			column="user_name" 			jdbcType="VARCHAR" />
				<result property="password" 		column="password" 			jdbcType="VARCHAR" />
				<result property="role" 			column="role" 				jdbcType="VARCHAR" />
				<result property="ssn" 				column="ssn" 				jdbcType="VARCHAR" />
				<result property="phone" 			column="cell_phone" 		jdbcType="VARCHAR" />
				<result property="addr" 			column="addr" 				jdbcType="VARCHAR" />
				<result property="email" 			column="email" 				jdbcType="NUMERIC"  />
				<result property="regDate" 			column="reg_date" 			jdbcType="DATE" />
			</association>
			
	
		<association property="purchaseProd"	javaType="product">
				<id property="prodNo"			column="prod_no" 						jdbcType="NUMERIC"/>
				
				<result property="fileName" 	column="IMAGE_FILE" 					jdbcType="VARCHAR"/>
				<result property="manuDate" 	column="MANUFACTURE_DAY" 				jdbcType="VARCHAR"/>
				<result property="price" 		column="PRICE" 							jdbcType="NUMERIC"/>
				<result property="prodDetail" 	column="PROD_DETAIL" 					jdbcType="VARCHAR"/>
				<result property="prodName"		column="PROD_NAME" 						jdbcType="VARCHAR"/>
				<result property="regDate" 		column="REG_DATE" 						jdbcType="DATE"/>
				<result property="proTranCode" 	column="tran_status_code" 				jdbcType="VARCHAR"/>
		</association>

		</resultMap>
		
	
		
		<insert id="addPurchase" parameterType="purchase">
		
	 	INSERT
		INTO transaction
		VALUES(		seq_transaction_tran_no.nextval,
							#{purchaseProd.prodNo:NUMERIC},
							#{buyer.userId:VARCHAR},
							#{paymentOption:CHAR},
							#{receiverName:VARCHAR},
							#{receiverPhone:VARCHAR},
							#{dlvyAddr:VARCHAR},
							#{dlvyRequest:VARCHAR},
							#{tranCode:CHAR},
							SYSDATE,
							#{dlvyDate,jdbcType=DATE}		 
 							)
	 			
 			</insert>
			
 		<select id="getPurchase" parameterType="string" resultMap="purchaseSelectMap">
				SELECT
				DEMAILADDR, DLVY_DATE, DLVY_REQUEST, ORDER_DATA, RECEIVER_NAME, RECEIVER_PHONE, PAYMENT_OPTION, buyer_id ,prod_no, TRAN_NO
				FROM transaction
				WHERE tran_no = #{value}
		</select>
		
		<select id = "getPurchaseByProd" parameterType="int" resultMap="purchaseSelectMap">
  			SELECT 
  				t.*, p.*, u.* 
  			FROM  transaction t, product p, users u 
  			WHERE  t.prod_no= #{value} 
  			AND t.prod_no=p.prod_no AND t.buyer_id=u.user_id
  		</select>
		 			
		<update id="updatePurchase" parameterType="purchase">
  			UPDATE transaction
  			<set>
	    		<if test="paymentOption !=null">	payment_option		=#{paymentOption},	</if>
	  			<if test="receiverName !=null">	  	receiver_name		=#{receiverName},	</if>
	  			<if test="receiverPhone !=null">  	receiver_phone		=#{receiverPhone},	</if> 
	  			<if test="dlvyAddr !=null">			DEMAILADDR			=#{dlvyAddr},		</if> 
	  			<if test="dlvyRequest != null">	 	dlvy_request		=#{dlvyRequest}, 	</if> 					
	  			<if test="dlvyDate != null"> 		dlvy_date			=#{dlvyDate}, 		</if>
	  			<if test="tranCode != null"> 		TRAN_STATUS_CODE	=#{tranCode} 		</if> 	 	
  			</set>
			WHERE tran_no = #{tranNo}  		
  		</update>
		
		 <update id="updateTranCode" parameterType="purchase" >
  				UPDATE transaction
  			<set>
    			<if test="tranCode !=null">tran_status_code	=#{tranCode},	
    			</if>
  			</set>
				WHERE tran_no = #{tranNo}  		
  		</update>
		
		<delete id="removePurchase" parameterType="java.lang.String">
			DELETE
			FROM product
			WHERE prodNo=#{value}
		</delete>
		
<!--  map으로 바꿔주기 -->
  	<select id="getPurchaseList" parameterType="map" resultMap="purchaseSelectMap">
  		SELECT *
  		FROM ( SELECT inner_table.* , ROWNUM AS row_seq
  						FROM ( 
  										SELECT *
  										FROM transaction
  										<if test="buyer !='admin' ">
  										<!-- <if test="buyerId !='admin' "> -->
										WHERE buyer_id = #{buyer}									
										</if>
  										ORDER BY tran_no ) inner_table
  						WHERE ROWNUM &lt;= #{search.endRowNum})
		WHERE row_seq BETWEEN #{search.startRowNum} AND #{search.endRowNum}
					 <!-- WHERE ROWNUM &lt;= #{search.endRowNum} )
		WHERE row_seq BETWEEN #{search.startRowNum} AND #{search.endRowNum} --> 
  	</select>
 
	<!-- SQL : SELECT ROW Count -->	 
	 <select  id="getTotalCount"  parameterType="Search"	 resultType="int">
	  	SELECT COUNT(*)
	  	FROM(	SELECT *
						FROM transaction 
						<!-- <if test="#{buyerId}!='admin' "> -->
						<if test="searchKeyword !='admin' ">
						WHERE buyer_id=	#{searchKeyword,jdbcType=VARCHAR} 
						</if>
						) countTable						  	
	 </select>
</mapper>